<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzw.guanglan">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!-- 访问网络，网络定位需要上网-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <!--高德-->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7c3c7348ecb4ba677358b342768a82c9" />

        <!--Baidu-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="aMkk6ZRAfOYbZACPD9tSByaN3oDQl3iT"></meta-data>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- <service android:name=".service.HeartService" /> -->
        <service android:name=".service.SocketService" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle.AppTheme" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientActivity"
            android:screenOrientation="portrait" >

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".ui.ConfigIpActivity"
            android:label="网络配置"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.guangland.GuangLanDListActivity"
            android:label="光缆段"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.qianxin.QianXinListActivity"
            android:label="纤芯"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guangland.add.GuangLanDAddActivitty"
            android:label="新增光缆段"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.qianxin.test.QianXinTestActivity"
            android:label="纤芯测试"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guanglan.GuangLanListActivity"
            android:label="光缆"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guanglan.add.GuangLanAddActivitty"
            android:label="新增光缆"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HotConnActivity"
            android:label="热点链接"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guangland.param.GuangLanParamActivity"
            android:label="选择上级光缆"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.guangland.GuangLanSearchActivity"
            android:label="选择光缆名称"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.resource.ResourceActivity"
            android:label="光缆纤芯质量管理系统"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.resource.NearbyResActivity"
            android:label="附近资源"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.resource.ResourceSearchActivity"
            android:label="资源查询"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.room.add.RoomAddActivity"
            android:label="新增局站"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.room.EngineRoomDetailsActivity"
            android:label="机房详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.resource.SelResActivity"
            android:label="选择局战"
            android:screenOrientation="portrait" />
        <activity android:name=".base.WebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.gongdan.GongDanListActivity"
            android:screenOrientation="portrait"
            android:label="我的工单"
            />


    </application>

</manifest>